{% extends 'dashboard.html' %}

{% load extras %}

{% block content %}

{% with statuses="warning primary secondary info success danger" %}{% endwith %}

<div class="row">
    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Дата открытия</p>
                    <h6 class="font-weight-bolder">
                        {{ purchase.opened_date }}
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="bi bi-calendar3"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Заказы</p>
                    <h6 class="font-weight-bolder">
                        {{ records_info.number_of_orders }}
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-warning shadow-primary text-center rounded-circle">
                    <i class="bi bi-credit-card"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Участники</p>
                    <h6 class="font-weight-bolder">
                        {{ records_info.number_of_customers }}
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-info shadow-primary text-center rounded-circle">
                    <i class="bi bi-people"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Сумма</p>
                    <h6 class="font-weight-bolder">
                        {{ records_info.total_amount|floatformat:2 }} <span class="text-secondary">¥</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-primary text-center rounded-circle">
                    <i class="bi bi-coin"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-2 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Сумма ₽</p>
                    <h6 class="font-weight-bolder">
                        {{ total_amount_rub }} <span class="text-secondary">₽</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-primary text-center rounded-circle">
                    <i class="bi bi-coin"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Общий курс ¥</p>
                    <h6 class="font-weight-bolder">
                        {{ purchase.exchange }}
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-dark shadow-primary text-center rounded-circle">
                    <i class="bi bi-currency-exchange"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Дата закрытия</p>
                    <h6 class="font-weight-bolder">
                        {% if purchase.closed_date %}
                            {{ purchase.closed_date }}
                        {% else %}
                            <span class="text-body-tertiary">Не закрыта</span>
                        {% endif %}
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="bi bi-calendar3"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-2 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Расходы</p>
                    <h6 class="font-weight-bolder">
                        <span class="text-danger">{{ purchase.other_expenses }}</span> <span class="text-secondary">₽</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-primary text-center rounded-circle">
                    <i class="bi bi-piggy-bank"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Вес</p>
                    <h6 class="font-weight-bolder">
                        {{ records_info.orders_weight }} <span class="text-secondary">Кг</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-info shadow-primary text-center rounded-circle">
                    <i class="bi bi-truck"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Комиссия</p>
                    <h6 class="font-weight-bolder">
                        <span class="text-success">+{{ total_tax_amount }}</span> <span class="text-secondary">₽</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow-primary text-center rounded-circle">
                    <i class="bi bi-cash-coin"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Доход с выкупа</p>
                    <h6 class="font-weight-bolder">
                        <span class="text-success">+{{ total_dif_amount }}</span> <span class="text-secondary">₽</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow-primary text-center rounded-circle">
                    <i class="bi bi-cash-coin"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-sm-6 mb-xl-5 mb-4">
        <div class="card">
            <div class="card-body p-3">
            <div class="row">
                <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Общий доход</p>
                    <h6 class="font-weight-bolder">
                        <span class="text-success">+{{ total_profit }}</span> <span class="text-secondary">₽</span>
                    </h6>
                </div>
                </div>
                <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow-primary text-center rounded-circle">
                    <i class="bi bi-wallet2"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 mb-lg-0 mb-4">
    <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-capitalize">Заказы</h4>
                <div class="text-end">
                    <a href="{% url 'create-purchase-order' pk=purchase.pk %}" class="btn btn-success">
                        <i class="bi bi-person-plus"></i> Добавить заказ
                    </a>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-secondary"><i class="bi bi-download me-1"></i> Экспорт</button>
                        <div class="btn-group" role="group">
                          <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">
                            <a href="{% url 'purchase-xls' pk=purchase.pk %}" class="dropdown-item">
                                <i class="bi bi-filetype-xls me-2"></i> Данные о закупке
                            </a>
                            <a href="{% url 'purchase-cargo-xls' pk=purchase.pk %}" class="dropdown-item">
                                <i class="bi bi-filetype-xls me-2"></i> Данные для карго
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2 text-sm font-weight-bold">
                Статусы заказов
                <div class="text-end">
                    {% for item in summary %}
                        {{ statuses|index:item.status }}:<span class="ms-2 me-2 badge bg-gradient-info">{{ item.total }}</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <form method="get" class="d-flex mt-3 mb-3">
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <a href="{% url 'purchase' pk=purchase.pk %}" class="btn btn-secondary me-2 my-sm-0">Сбросить</a>
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2 text-sm font-weight-bold">
                Показано: <span class="ms-2 badge bg-gradient-secondary">{{ total_records }}</span>
            </div>

            <div class="card-body px-0 pt-0 pb-2 mt-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                <th scope="col">#</th>
                                <th scope="col">Скрин</th>
                                <th scope="col">
                                    Наименование
                                    <a href="?sort=title{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-title{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">
                                    Заказ
                                    <a href="?sort=telegram_id{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-telegram_id{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">
                                    Выкуп
                                    <a href="?sort=tax{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-tax{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">Доход ₽</th>
                                <th scope="col">Клиент / Трек #</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in records %}
                                <tr>
                                    <th scope="row" class="align-middle text-center">
                                        <p class="text-xs text-secondary mb-0">{{ forloop.counter }}</p>
                                    </th>
                                    <td class="text-center">
                                        <img
                                            src="/media/{{item.img}}"
                                            alt=""
                                            style="width: 48px"
                                            data-bs-toggle="offcanvas"
                                            href="#img-{{ item.id }}"
                                            role="button"
                                            aria-controls="show"
                                            class="avatar"
                                        />
                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="img-{{ item.id }}" aria-labelledby="img-{{ item.id }}Label">
                                            <div class="offcanvas-header">
                                                <h4 class="text-start text-info" id="img-{{ item.id }}Label"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <img
                                                    src="/media/{{item.img}}"
                                                    alt=""
                                                    style="width: 100%"
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-3">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="text-xl font-weight-bold mb-1">
                                                <a class="link-primary" href="{% url 'order' pk=item.pk %}">
                                                    {{ item.title }}
                                                </a>
                                            </p>
                                            <p class="text-xs mb-2">
                                                <a href="{{ item.url }}" target="_blank">Ссылка</a>
                                            </p>
                                            <p class="text-xs mb-0">
                                                <span class="badge bg-gradient-primary">{{ item.get_status }}</span>
                                                <span class="badge badge-sm bg-gradient-secondary">{{ item.marketplace }}</span>
                                            </p>
                                            <div>
                                                <span class="me-2 text-xs font-weight-bold">{{item.status|add:1|multiply:20}}%</span>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{item.status}}" aria-valuemin="0" aria-valuemax="5" style="width: {{item.status|add:1|multiply:20}}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="text-xl font-weight-bold mb-1">
                                                {{ item.order_price }} ¥
                                            </p>
                                            <p class="text-xs mb-2">
                                                <span class="badge bg-gradient-secondary">{{ purchase.exchange }}</span>
                                            </p>
                                            <p class="text-xs text-danger font-weight-bold mb-0">
                                                {{ item.calculate_order_exchange_price }} ₽
                                            </p>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-center">
                                        {% if item.buy_price %}
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xl text-warning font-weight-bold mb-1">
                                                    ¥ {{ item.buy_price }}
                                                </p>
                                                <p class="text-xs mb-2">
                                                    <span class="badge bg-gradient-secondary">{{ item.exchange_rate }}</span>
                                                </p>
                                                <p class="text-xs text-danger font-weight-bold mb-0">
                                                    ₽ {{ item.calculate_buy_exchange_price }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-xs">
                                        <div class="d-flex justify-content-between mb-1">
                                            <span>Комиссия: </span>
                                            <span class="badge bg-gradient-warning">{{ item.calculate_difference_tax }}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1">
                                            <span>Разница: </span>
                                            <span class="badge bg-gradient-warning">{{ item.get_difference }}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1">
                                            <span>Всего: </span>
                                            <span class="badge bg-gradient-success">{{ item.get_total_profit }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <a class="link-secondary" href="{% url 'customer' pk=item.customer.pk %}">
                                                    {{ item.customer }}
                                                </a>
                                                <p class="mb-0">
                                                    <span class="badge bg-gradient-primary">
                                                        {% if item.track_num %}
                                                            <a class="link-light" href="https://www.ordertracker.com/ru/track/{{ item.track_num }}" target="_blank">{{ item.track_num }}</a>
                                                        {% else %}
                                                            Нет
                                                        {%endif%}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-center">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <a href="{% url 'order_edit' pk=item.pk %}" class="link-secondary font-weight-bold text-xs me-1">
                                                    <i class="bi bi-pencil-square me-1"></i>Изменить
                                                </a>
                                                <a class="link-danger font-weight-bold text-xs" data-bs-toggle="offcanvas" href="#{{ item.id }}" role="button" aria-controls="delete">
                                                    <i class="bi bi-trash me-1"></i>Удалить
                                                </a>
                                                <div class="offcanvas offcanvas-start" tabindex="-1" id="{{ item.id }}" aria-labelledby="{{ item.id }}Label">
                                                    <div class="offcanvas-header">
                                                        <h5 class="offcanvas-title" id="{{ item.id }}Label">{{ item.title }}</h5>
                                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                    </div>
                                                    <div class="offcanvas-body text-start">
                                                        <div>
                                                            Это действие безвозвратно <br>удалит объект из базы данных!
                                                        </div>
                                                        <div class="mt-3">
                                                            <a href="{% url 'order_delete' pk=item.pk %}" class="btn btn-danger me-1">Подтвердить</a>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Отменить</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if not item.buy_price %}
                                                    <p>
                                                        <a href="{% url 'order-buy' pk=item.pk %}" class="btn btn-sm btn-primary mt-1">
                                                            <i class="bi bi-bag me-1"></i> Выкупить товар
                                                        </a>
                                                    </p>
                                                {% endif %}

                                                {% if item.buy_price and not item.track_num %}
                                                    <p>
                                                        <a href="{% url 'order-set-track' pk=item.pk %}" class="btn btn-sm btn-dark mt-1">
                                                            <i class="bi bi-truck me-1"></i> Добавить трэк
                                                        </a>
                                                    </p>
                                                {% else %}
                                                    {% if item.status == 2 %}
                                                        <form method="post" action="{% url 'order-set-delivered' pk=item.pk %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-secondary mt-1">
                                                                <i class="bi bi-truck me-1"></i>
                                                                Доставлен в ТК
                                                            </button>
                                                        </form>
                                                    {% elif item.status == 3 %}
                                                        <form method="post" action="{% url 'order-set-arrived' pk=item.pk %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-success mt-1">
                                                                <i class="bi bi-bookmark-check"></i> Прибыл
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr class="text-center no-hover">
                                    <td colspan="10" class="no-hover p-4">
                                        <svg
                                            height="45px"
                                            width="45px"
                                            version="1.1"
                                            id="empty"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 412.533 412.533"
                                            xml:space="preserve"
                                        >
                                            <g>
                                                <path
                                                    style="fill:#c1c1c2;"
                                                    d="M412.485,203.954h0.041c0-14.323-5.609-27.336-14.729-37.042l0.016-0.016l-79.27-101.819H90.479
                                                    L13.493,168.961l0.033,0.033c-7.283,8.616-11.762,19.565-12.534,31.514C0.415,201.629,0,202.84,0,204.19v135.138
                                                    c0,4.495,3.642,8.129,8.129,8.129h396.276c4.495,0,8.129-3.633,8.129-8.129V204.19
                                                    C412.533,204.109,412.485,204.035,412.485,203.954z M97.844,81.335H311.43l48.389,68.5c-0.512-0.016-1-0.081-1.52-0.081h-97.502
                                                    v24.369c0,27.67-29.052,21.687-37.96,21.687h-32.466c-8.909,0-37.96,5.983-37.96-21.687v-24.369H54.9
                                                    c-1.016,0-2.008,0.098-3.016,0.146L97.844,81.335z M396.276,331.199H16.265V204.19c0-0.081-0.041-0.154-0.049-0.236h0.723
                                                    c0-20.923,17.029-37.944,37.96-37.944h81.253v8.112c0,27.987,21.281,37.944,54.218,37.944h32.466
                                                    c32.945,0,54.218-9.957,54.218-37.944v-8.112h81.261c10.461,0,19.948,4.251,26.824,11.12l0.016,0.016
                                                    c6.869,6.869,11.112,16.347,11.112,26.808h0.057c0,0.081-0.049,0.154-0.049,0.236C396.276,204.19,396.276,331.199,396.276,331.199z
                                                    "
                                                />
                                            </g>
                                        </svg>
                                        <p class="font-weight-bold text-xs text-secondary">Нет данных</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
