{% load extras %}

<div class="table-responsive">
    <table class="table align-items-center ">
        <tbody>
            {% for purchase in orders %}
                <tr>
                    <td>
                        <div class="text-center">
                            <h6 class="text-xs font-weight-light mb-0 ms-2">{{ forloop.counter }}</h6>
                        </div>
                    </td>
                    <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                            <div class="ms-4">
                                <p class="text-xs font-weight-bold mb-0">Наименование:</p>
                                <h6 class="text-sm mb-0">
                                    <a class="link-primary" href="{% url 'customer-purchase' pk=customer.pk purchase_pk=purchase.purchase__id %}">
                                        {{ purchase.purchase__title }}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <p class="text-xs font-weight-bold mb-0">Курс:</p>
                            <span class="badge bg-gradient-secondary">{{ purchase.purchase__exchange }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <p class="text-xs font-weight-bold mb-0">Заказов:</p>
                            <span class="badge bg-gradient-success">{{ purchase.total }}</span>
                        </div>
                    </td>
                    <td class="align-middle text-sm">
                        <div class="col text-center">
                            <p class="text-xs font-weight-bold mb-0">Вес:</p>
                            <h6 class="text-primary mb-0">
                                {{ purchase.weight }} кг.
                            </h6>
                        </div>
                    </td>
                    <td class="align-middle text-sm">
                        <div class="col text-center">
                            <p class="text-xs font-weight-bold mb-0">Сумма выкупа:</p>
                            <h6 class="mb-0">
                                <span class="text-warning ">
                                    {{ purchase.sum_in_rub }}
                                    <img src="/static/assets/img/russia.png" style="width: 20px"/>
                                </span>
                                ({{ purchase.sum|floatformat:2 }}<img src="/static/assets/img/china.png" style="width: 20px"/>)
                            </h6>
                        </div>
                    </td>
                    <td class="align-middle text-sm">
                        <div class="col text-center">
                            <p class="text-xs font-weight-bold mb-0">Комиссия:</p>
                            <h6 class="text-success mb-0">
                                {{ purchase.tax_in_rub }}
                                <img src="/static/assets/img/russia.png" style="width: 20px"/>
                            </h6>
                        </div>
                    </td>
                </tr>
            {% empty %}
                {% include "common/tables/empty.html" with colspan=4 %}
            {% endfor %}
        </tbody>
    </table>
</div>