{% extends 'dashboard.html' %}

{% load static %}

{% load extras %}

{% block content %}

{% with statuses="warning primary secondary info success danger" %}{% endwith %}

<div class="row">
    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Дата открытия" value=purchase.opened_date icon="bi-calendar3" color="primary" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Заказы" value=records_info.number_of_orders icon="bi-credit-card" color="warning" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Участники" value=records_info.number_of_customers icon="bi-people" color="info" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Сумма ¥" value=records_info.total_amount|floatformat:2 icon="bi-coin" color="danger" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Сумма ₽" value=total_amount_rub icon="bi-coin" color="danger" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Общий курс ¥" value=purchase.exchange icon="bi-currency-exchange" color="dark" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Дата закрытия" value=purchase.closed_date|default:"Не закрыта" icon="bi-calendar3" color="primary" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Расходы ₽" value=purchase.other_expenses icon="bi-piggy-bank" color="danger" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Вес (Кг)" value=records_info.orders_weight|divide:1000|floatformat:2 icon="bi-truck" color="info" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Комиссия ₽" value=total_tax_amount icon="bi-cash-coin" color="success" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Доход выкуп ₽" value=total_dif_amount icon="bi-cash-coin" color="success" %}
    </div>

    <div class="col-lg-3 col-xxl-2 col-md-4 col-sm-6 mb-3">
        {% include "common/tile.html" with title="Общий доход ₽" value=total_profit icon="bi-wallet2" color="primary" %}
    </div>
</div>

<div class="row">
    <div class="col-xxl-10 col-xl-12 mb-lg-0 mt-4 mb-4">
        <div class="card">
            <div class="card-header pb-0 pt-3 bg-transparent">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Заказы в закупке</h4>
                    <div class="text-end">
                        <a href="{% url 'purchase-new-order' pk=purchase.pk %}" class="btn btn-success">
                            <i class="bi bi-person-plus"></i> Добавить заказ
                        </a>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary"><i class="bi bi-download me-1"></i> Экспорт</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">
                                    <a href="{% url 'purchase-xls' pk=purchase.pk %}" class="dropdown-item">
                                        <i class="bi bi-filetype-xls me-2"></i> Данные о закупке
                                    </a>
                                    <a href="{% url 'purchase-cargo-xls' pk=purchase.pk %}" class="dropdown-item">
                                        <i class="bi bi-filetype-xls me-2"></i> Данные для карго
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="get">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-xs-12 col-sm-12 col-md-3 mt-2">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="col-6 mt-2">
                            <div class="m-xl-2 mb-2 text-sm font-weight-bold">
                                Всего: <span class="ms-2 badge bg-gradient-success">{{ total_records }}</span>
                            </div>
                        </div>
                        <div class="col-6 text-end mt-2 mb-2">
                            <a href="{% url 'purchase' pk=purchase.pk %}" class="btn btn-light me-1 my-sm-0">Сбросить</a>
                            <button class="btn btn-dark my-sm-0" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>

                <div class="card-body px-0 pt-0 pb-2 mt-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                    <th scope="col">#</th>
                                    <th scope="col">Скрин</th>
                                    <th scope="col">
                                        Наименование
                                        <a href="?sort=title{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1"><i class="bi bi-sort-alpha-down"></i></a>
                                        <a href="?sort=-title{% if search_query %}&query={{ search_query }}{% endif %}"><i class="bi bi-sort-alpha-up"></i></a>
                                    </th>
                                    <th scope="col">
                                        Заказ
                                        <a href="?sort=order_price{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1"><i class="bi bi-sort-alpha-down"></i></a>
                                        <a href="?sort=-order_price{% if search_query %}&query={{ search_query }}{% endif %}"><i class="bi bi-sort-alpha-up"></i></a>
                                    </th>
                                    <th scope="col">
                                        Выкуп
                                        <a href="?sort=buy_price{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1"><i class="bi bi-sort-alpha-down"></i></a>
                                        <a href="?sort=-buy_price{% if search_query %}&query={{ search_query }}{% endif %}"><i class="bi bi-sort-alpha-up"></i></a>
                                    </th>
                                    <th scope="col">Доход ₽</th>
                                    <th scope="col">Клиент / Трек #</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in records %}
                                    <tr>
                                        <td scope="row" class="align-middle text-center">
                                            <p class="text-xs text-secondary mb-0">
                                                {{ records.paginator.per_page|multiply:current_page|add:forloop.counter }}
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            {% include "common/orders/image.html" with img=item.img id=item.id url=item.url title=item.title %}
                                        </td>
                                        <td class="col-2">
                                            {% include "common/orders/info.html" with id=item.pk title=item.title url=item.url status_str=item.get_status status=item.status marketplace=item.marketplace %}
                                        </td>
                                        <td>
                                            {% include "common/orders/price.html" with price=item.order_price exchange=item.purchase.exchange exchange_price=item.calculate_order_exchange_price %}
                                        </td>
                                        <td>
                                            {% if item.buy_price %}
                                                {% include "common/orders/price.html" with price=item.buy_price exchange=item.exchange_rate exchange_price=item.calculate_buy_exchange_price is_buy=True %}
                                            {% endif %}
                                        </td>
                                        <td class="text-xs">
                                            <div class="d-flex justify-content-between mb-2">
                                                <span>Комиссия: </span>
                                                <span class="badge bg-gradient-warning">{{ item.calculate_difference_tax }}</span>
                                            </div>
                                            <div class="d-flex justify-content-between mb-2">
                                                <span>Разница: </span>
                                                <span class="badge bg-gradient-warning">{{ item.get_difference }}</span>
                                            </div>
                                            <div class="d-flex justify-content-between mb-1">
                                                <span>Всего: </span>
                                                <span class="badge bg-gradient-success">{{ item.get_total_profit }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            {% include "common/orders/delivery.html" with id=item.customer.pk customer=item.customer track=item.track_num %}
                                        </td>
                                        <td>
                                            {% include "common/orders/actions.html" with id=item.pk title=item.title track_num=item.track_num buy_price=item.buy_price status=item.status weight=item.weight %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    {% include "common/tables/empty.html" with colspan=10 %}
                                {% endfor %}
                            </tbody>
                        </table>

                        {% include "common/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-2 col-xl-12 mb-lg-0 mt-4 mb-4">
        <div class="col-12 mb-4">
            {% include "common/chart.html" with title="Статус заказов" chart_id="chart-statuses" height="300" %}
        </div>

        <div class="col-12 mb-4">
            {% include "common/purchase-order-customer.html" %}
        </div>

        <div class="col-12 mb-4">
            {% include "common/chart.html" with title="Заказы по клиентам" chart_id="chart-customers" height="600" %}
        </div>

        <div class="col-12 mb-4">
            {% include "common/chart.html" with title="Доход" chart_id="chart-profit" height="300" %}
        </div>
    </div>
</div>

<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script>
    let ctx1 = document.getElementById("chart-statuses").getContext("2d");
    let ctx2 = document.getElementById("chart-customers").getContext("2d");
    let ctx3 = document.getElementById("chart-profit").getContext("2d");

    new Chart(ctx1, {
        type: "doughnut",
        data: {
            labels: {{ status_chart_labels|safe }},
            datasets: [
                {
                    label: "Статус",
                    data: {{ status_chart_values|safe }},
                    maxBarThickness: 6
                }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                display: true,
                }
            },
            interaction: {
                intersect: true,
                mode: 'index',
            },
        },
    });

    new Chart(ctx2, {
        type: "bar",
        data: {
        labels: {{ customer_chart_labels|safe }},
        datasets: [
                {
                    label: "Кол-во заказов",
                    data: {{ customer_chart_values|safe }},
                    maxBarThickness: 6
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                display: true,
                }
            },
            interaction: {
                intersect: true,
                mode: 'index',
            },
        },
    });

    {% comment %} new Chart(ctx2, {
        type: "pie",
        data: {
        labels: {{ customer_chart_labels|safe }},
        datasets: [
                {
                    label: "Кол-во заказов",
                    data: {{ customer_chart_values|safe }},
                    maxBarThickness: 6
                },
            ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: true,
            }
        },
        interaction: {
            intersect: true,
            mode: 'index',
        },
        },
    }); {% endcomment %}

    new Chart(ctx3, {
        type: "polarArea",
        data: {
        labels: ["Комиссия", "Выкуп"],
        datasets: [
            {
                label: "Доход",
                data: [{{ total_tax_amount|safe }}, {{ total_dif_amount|safe }}],
                maxBarThickness: 6,
                backgroundColor: [
                    '#1fab89',
                    '#e4a010'
                ],
            },
        ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: true,
            }
        },
        interaction: {
            intersect: true,
            mode: 'index',
        },
        },
    });
</script>

{% endblock %}
