{% extends 'dashboard.html' %}

{% load extras %}

{% block content %}

    <div class="row">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Закупки</h1>
                    <p>
                        <a href="{% url 'purchase-new' %}" class="btn btn-sm btn-success">
                            <i class="bi bi-person-plus"></i> Добавить закупку
                        </a>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center text-sm">
                    Всего: <span class="ms-2 badge bg-dark">{{ total }}</span>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-4 mt-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Наименование
                                    <a href="?sort=title{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-title{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Дата открытия \ закрытия
                                    <a href="?sort=opened_date{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-opened_date{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Курс</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Заказы</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Участники</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Стоимость</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Вес</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Стоимость доставки</th>
                                <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Иные расходы</th>
                                <th scope="col"  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in records %}
                                <tr>
                                    <th scope="row" class="align-middle text-center">
                                        <p class="text-xs text-secondary mb-0">{{ forloop.counter }}</p>
                                    </th>
                                    <td class="text-nowrap">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">
                                                    <a class="link-primary" href="{% url 'purchase' pk=item.pk %}">
                                                        <strong>{{ item.title }}</strong>
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    {% if item.opened_date %}
                                                        {{ item.opened_date }}
                                                    {% else %}
                                                        <span class="text-body-tertiary">---</span>
                                                    {% endif %}
                                                </p>
                                                <p class="text-xs text-secondary mb-0">
                                                    {% if item.closed_date %}
                                                        {{ item.closed_date }}
                                                    {% else %}
                                                        <span class="text-body-tertiary">Закупка не закрыта</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-dark">{{ item.exchange }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">{{ item.num_of_orders }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-warning">{{ item.num_of_customers }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="font-weight-bolder text-xs text-primary mb-0">
                                            {{ item.cost_of_order_price|multiply_float:item.exchange|floatformat:2 }} <span class="text-secondary">₽</span>
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-xs text-secondary">
                                        {% if item.sum_of_weight %}
                                            {{ item.sum_of_weight|divide:1000|floatformat:2 }}
                                        {% else %}
                                            <span class="text-body-tertiary">0</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    До России:
                                                    {% if item.delivery_cost1 %}
                                                        {{ item.delivery_cost1 }}
                                                    {% else %}
                                                        <span class="text-body-tertiary">0</span>
                                                    {% endif %}
                                                </p>
                                                <p class="text-xs text-secondary mb-0">
                                                    По России:
                                                    {% if item.delivery_cost2 %}
                                                        {{ item.delivery_cost2 }}
                                                    {% else %}
                                                        <span class="text-body-tertiary">0</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs text-danger mb-0">
                                            {% if item.other_expenses %}
                                                {{ item.other_expenses }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td class="align-middle text-xs">
                                        <a class="link-secondary me-1" href="{% url 'purchase-edit' pk=item.pk %}">
                                            <i class="bi bi-pencil-square me-1"></i> Изменить
                                        </a>
                                        <a class="link-danger" data-bs-toggle="offcanvas" href="#{{ item.id }}" role="button" aria-controls="delete">
                                            <i class="bi bi-trash me-1"></i> Удалить
                                        </a>
                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="{{ item.id }}" aria-labelledby="{{ item.id }}Label">
                                            <div class="offcanvas-header">
                                                <h3 class="offcanvas-title" id="{{ item.id }}Label">{{ item.title }}</h3>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <div>
                                                    Это действие безвозвратно удалит <br> объект из базы данных!
                                                </div>
                                                <div class="mt-3">
                                                    <a href="{% url 'purchase-delete' pk=item.pk %}" class="btn btn-danger me-1">Подтвердить</a>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Отменить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                {% include "common/tables/empty.html" with colspan=6 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
