{% extends 'layout.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend class="text-primary">
                        <strong>Данные заказа</strong>
                    </legend>
                    <hr class="mt-0 mb-4">

                    <div class="row mb-3">
                        {% for field in form %}
                            <div class="col-12 mb-3">
                                <b>{{ field.label_tag }}</b> {{ field }}
                                {{ field.errors }}
                                <small class="text-body-tertiary">
                                    {{ field.help_text }}
                                </small>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="submit" formnovalidate name="add_another" class="btn btn-outline-info">Сохранить и добавить новый</button>
                    <a class="btn btn-light" href="javascript:history.go(-1)">Отмена</a>

                </fieldset>
            </div>
        </div>
    </form>
{% endblock %}
