{% extends 'layout.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend class="text-primary">
                        <strong>Данные заказа</strong>
                    </legend>
                    <hr class="mt-0 mb-4">

                    <div class="row mb-3">
                        <div class="col-12 mb-3">
                            <b>Строка инициализации</b>
                            <input type="text" name="init" class="form-control" id="init" onchange="fillData(this)">
                            <small class="text-body-tertiary">
                                Строка инициализации, состоящая из данных, разделенными запятыми: {Наименование товара}, {Ссылка}, {Цена}
                            </small>
                        </div>
                    </div>

                    <div class="row mb-3">
                        {% for field in form %}
                            <div class="col-12 mb-3">
                                <b>{{ field.label_tag }}</b> {{ field }}
                                {{ field.errors }}
                                <small class="text-body-tertiary">
                                    {{ field.help_text }}
                                </small>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% if is_new %}
                        <button type="submit" formnovalidate name="add_another" class="btn btn-outline-info">Сохранить и добавить новый</button>
                    {% endif %}
                    <a class="btn btn-light" href="javascript:history.go(-1)">Отмена</a>

                </fieldset>
            </div>
        </div>
    </form>

    <script>
        let titleInput = document.getElementById("id_title");
        let urlInput = document.getElementById("id_url");
        let priceInput = document.getElementById("id_order_price");

        function fillData(elem) {
            values = elem.value.split(",");

            if (values.length == 3) {
                titleInput.value = values[0];
                urlInput.value = values[1];
                priceInput.value = values[2];
            }
        }
    </script>
{% endblock %}
