{% extends 'dashboard.html' %}

{% load extras %}

{% block content %}

<div class="row">
    <div class="col-lg-3 mb-sm-4">
        <div class="card">
            <div class="card-header mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Поиск</h1>
                    <p>
                        <a href="{% url 'orders' %}" class="link-secondary text-xs">Сбросить</a>
                    </p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="mb-2 text-sm font-weight-bold">
                        Показано: 
                    </p>
                    <p><span class="ms-2 badge bg-gradient-success">{{ total }}</span></p>
                </div>
                <form method="get">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-xs-12 col-sm-12 col-auto mt-2">
                                <span class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                                    {{ field.label }}
                                </span> {{ field }}
                            </div>
                        {% endfor %}
                        <div class="mt-4 mb-2">
                            <button class="btn btn-dark my-sm-0" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-12">
        <div class="card h-100">
            <div class="card-header pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Заказы</h1>
                    <p>
                        <a href="{% url 'create-order' %}" class="btn btn-success mt-2">
                            <i class="bi bi-person-plus"></i> Добавить заказ
                        </a>
                    </p>
                </div>
            </div>

            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-1">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                                <th scope="col">#</th>
                                <th scope="col">Скрин</th>
                                <th scope="col">
                                    Наименование
                                    <a href="?sort=phone{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-phone{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">Заказ</th>
                                <th scope="col">Выкуп</th>
                                <th scope="col">Трэк #</th>
                                <th scope="col">Закупка</th>
                                <th scope="col">Заказчик</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in records %}
                                <tr>
                                    <th scope="row">
                                        <p class="text-xs text-secondary mb-0 text-center">{{ forloop.counter }}</p>
                                    </th>
                                    <td class="text-center">
                                        <img
                                            src="/media/{{item.img}}"
                                            alt=""
                                            style="width: 48px"
                                            data-bs-toggle="offcanvas"
                                            href="#img-{{ item.id }}"
                                            role="button"
                                            aria-controls="show"
                                        />
                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="img-{{ item.id }}" aria-labelledby="img-{{ item.id }}Label">
                                            <div class="offcanvas-header">
                                                <h4 class="text-start text-primary" id="img-{{ item.id }}Label">{{ item.title }}</h4>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <img
                                                    src="/media/{{item.img}}"
                                                    alt=""
                                                    style="width: 100%"
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xl font-weight-bold mb-1">
                                                    <a class="link-primary" href="{% url 'order' pk=item.pk %}">
                                                        {{ item.title|truncatechars:20 }}
                                                    </a>
                                                </p>
                                                <p class="text-xs mb-2">
                                                    <a href="{{ item.url }}" target="_blank">Ссылка</a>
                                                </p>
                                                <p class="text-xs mb-0">
                                                    <span class="badge bg-gradient-primary">{{ item.get_status }}</span>
                                                    <span class="badge badge-sm bg-gradient-secondary">{{ item.marketplace }}</span>
                                                </p>
                                                <div>
                                                    <span class="me-2 text-xs font-weight-bold">{{item.status|add:1|multiply:20}}%</span>
                                                    <div class="progress">
                                                      <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{item.status}}" aria-valuemin="0" aria-valuemax="5" style="width: {{item.status|add:1|multiply:20}}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-end">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="text-xl text-warning text-gradient font-weight-bold mb-1">
                                                {{ item.order_price }}
                                                <img src="/static/assets/img/china.png" style="width: 24px"/>   
                                            </p>
                                            <p class="text-xs mb-1">
                                                <span class="badge bg-gradient-info">{{ item.purchase.exchange }}</span>
                                            </p>
                                            <p class="text-xl text-dark text-gradient font-weight-bold mb-0">
                                                {{ item.calculate_order_exchange_price }}
                                                <img src="/static/assets/img/russia.png" style="width: 24px"/>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-end">
                                        {% if item.buy_price %}
                                            <div class="d-flex flex-column justify-content-between">
                                                <p class="text-xl text-danger text-gradient font-weight-bold mb-1">
                                                    {{ item.buy_price }}
                                                    <img src="/static/assets/img/china.png" style="width: 24px"/>   
                                                </p>
                                                <p class="text-xs mb-1">
                                                    <span class="badge bg-gradient-success">{{ item.exchange_rate }}</span>
                                                </p>
                                                <p class="text-xl text-primary text-gradient font-weight-bold mb-0">
                                                    {{ item.calculate_buy_exchange_price }}
                                                    <img src="/static/assets/img/russia.png" style="width: 24px"/>
                                                </p>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        {% if item.track_num %}
                                            <span class="badge bg-gradient-info"><a class="link-light" href="https://www.ordertracker.com/ru/track/{{ item.track_num }}" target="_blank">{{ item.track_num }}</a></span>
                                        {% else %}
                                            Нет
                                        {%endif%}
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        <a class="link-secondary" href="{% url 'purchase' pk=item.purchase.pk %}">
                                            <strong>{{ item.purchase }}</strong>
                                        </a>
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        <a class="link-secondary" href="{% url 'customer' pk=item.customer.pk %}">
                                            <strong>{{ item.customer }}</strong>
                                        </a>
                                    </td>
                                    <td class="text-xs text-center align-content-center">
                                        <a href="{% url 'order_edit' pk=item.pk %}" class="me-1">
                                            <i class="bi bi-pencil-square me-1"></i>Изменить
                                        </a>
                                        <a data-bs-toggle="offcanvas" href="#{{ item.id }}" role="button" aria-controls="delete">
                                            <i class="bi bi-trash me-1"></i>Удалить
                                        </a>
                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="{{ item.id }}" aria-labelledby="{{ item.id }}Label">
                                            <div class="offcanvas-header">
                                                <h5 class="offcanvas-title" id="{{ item.id }}Label">{{ item.title }}</h5>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body text-start">
                                                <div>
                                                    Это действие безвозвратно удалит объект из базы данных!
                                                </div>
                                                <div class="mt-3">
                                                    <a href="{% url 'order_delete' pk=item.pk %}" class="btn btn-danger me-1">Подтвердить</a>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Отменить</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not item.buy_price %}
                                            <p>
                                                <a href="{% url 'order-buy' pk=item.pk %}" class="btn btn-sm btn-primary mt-2">
                                                    <i class="bi bi-bag me-1"></i> Выкупить товар
                                                </a>
                                            </p>
                                        {% endif %}

                                        {% if item.buy_price and not item.track_num %}
                                            <p>
                                                <a href="{% url 'order-set-track' pk=item.pk %}" class="btn btn-sm btn-dark mt-2">
                                                    <i class="bi bi-truck me-1"></i> Добавить трэк
                                                </a>
                                            </p>
                                        {% else %}
                                            {% if item.status == 2 %}
                                                <form method="post" action="{% url 'order-set-delivered' pk=item.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-secondary mt-2">
                                                        <i class="bi bi-truck me-1"></i>
                                                        Доставлен в ТК
                                                    </button>
                                                </form>
                                            {% elif item.status == 3 %}
                                                <form method="post" action="{% url 'order-set-arrived' pk=item.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-success mt-2">
                                                        <i class="bi bi-bookmark-check"></i> Прибыл
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                {% include "common/tables/empty.html" with colspan=9 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
