{% extends 'dashboard.html' %}

{% load extras %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Поиск</h1>
                    <p>
                        <a href="{% url 'orders' %}" class="link-secondary text-xs">Сбросить</a>
                    </p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="mb-2 text-sm font-weight-bold">
                        Показано:
                    </p>
                    <p><span class="ms-2 badge bg-gradient-success">{{ total }}</span></p>
                </div>
                <form method="get">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-xs-12 col-sm-12 col-auto mt-2">
                                <span class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                                    {{ field.label }}
                                </span> {{ field }}
                            </div>
                        {% endfor %}
                        <div class="mt-4 mb-2">
                            <button class="btn btn-dark my-sm-0" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-12">
        <div class="card h-100">
            <div class="card-header pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Заказы</h1>
                    <p>
                        <a href="{% url 'create-order' %}" class="btn btn-success mt-2">
                            <i class="bi bi-person-plus"></i> Добавить заказ
                        </a>
                    </p>
                </div>
            </div>

            <div class="card-body px-0 pt-0 pb-2">
                
                <div class="table-responsive p-1">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                                <th scope="col">#</th>
                                <th scope="col">Скрин</th>
                                <th scope="col">
                                    Наименование
                                    <a href="?sort=phone{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-phone{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">Заказ</th>
                                <th scope="col">Выкуп</th>
                                <th scope="col">Доставка</th>
                                <th scope="col">Закупка</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in records %}
                                <tr>
                                    <th scope="row">
                                        <p class="text-xs text-secondary mb-0 text-center">
                                            {{ records.paginator.per_page|multiply:current_page|add:forloop.counter }}
                                        </p>
                                    </th>
                                    <td class="text-center">
                                        {% include "common/orders/image.html" with img=item.img id=item.id url=item.url title=item.title %}
                                    </td>
                                    <td>
                                        {% include "common/orders/info.html" with id=item.pk title=item.title url=item.url status_str=item.get_status status=item.status marketplace=item.marketplace %}
                                    </td>
                                    <td>
                                        {% include "common/orders/price.html" with price=item.order_price exchange=item.purchase.exchange exchange_price=item.calculate_order_exchange_price %}
                                    </td>
                                    <td>
                                        {% if item.buy_price %}
                                            {% include "common/orders/price.html" with price=item.buy_price exchange=item.exchange_rate exchange_price=item.calculate_buy_exchange_price is_buy=True %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% include "common/orders/delivery.html" with id=item.customer.pk customer=item.customer track=item.track_num %}
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        <a class="link-secondary" href="{% url 'purchase' pk=item.purchase.pk %}">
                                            <strong>{{ item.purchase }}</strong>
                                        </a>
                                    </td>
                                    <td>
                                        {% include "common/orders/actions.html" with id=item.pk title=item.title track_num=item.track_num buy_price=item.buy_price status=item.status weight=item.weight %}
                                    </td>
                                </tr>
                            {% empty %}
                                {% include "common/tables/empty.html" with colspan=9 %}
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include "common/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
