{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ customer.phone }}</h6>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-info">{{ customer.name }}</h4>
                    <p class="card-text">
                        {% if customer.telegram_id %}
                            <a href="https://t.me/{{ customer.telegram_id }}" target="_blank">{{ customer.telegram_id }}</a>
                        {% else %}
                            <span class="text-body-tertiary">Не указан</span>
                        {% endif %}
                    </p>
                    <p class="card-text">
                        Комиссия: <span class="badge bg-warning">{{ customer.tax }}%</span>
                    </p>
                    <a href="{% url 'customer_edit' pk=customer.pk %}" class="btn btn-sm btn-primary me-1">
                        <i class="bi bi-pencil-square"></i> Редактировать
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">
            {% for purchase in orders %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Участие в закупках</h6>
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr role="row">
                                <th>Закупка</th>
                                <th>Заказы</th>
                                <th>Курс</th>
                                <th>Сумма ₽</th>
                                <th>Сумма ¥</th>
                                <th>Комиссия ₽</th>
                                <th>Комиссия ¥</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="sorting_1"><a href={% url 'customer-purchase' pk=customer.pk purchase_pk=purchase.purchase__id %}>{{ purchase.purchase__title }}</a></td>
                                <td><span class="badge bg-success">{{ purchase.total }}</span></td>
                                <td><span class="badge bg-dark">{{ purchase.purchase__exchange }}</span></td>
                                <td><span class="badge bg-info">{{ purchase.sum_in_rub }}</span></td>
                                <td><span class="badge bg-light">{{ purchase.sum|floatformat:2 }}</span></td>
                                <td><span class="badge bg-info">{{ purchase.tax_in_rub }}</span></td>
                                <td><span class="badge bg-light">{{ purchase.tax|floatformat:2 }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
