{% extends 'dashboard.html' %}

{% load extras %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-9 col-xl-9 col-12">
        <div class="card h-100">
            <div class="card-header pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-capitalize">Заказы</h1>
                    <p>
                        <a href="{% url 'create-customer-order' pk=customer.pk purchase_pk=purchase.pk %}" class="btn btn-success mt-2">
                            <i class="bi bi-person-plus"></i> Добавить заказ
                        </a>
                        <a href="{% url 'customer-purchase-xls2' pk=customer.pk purchase_pk=purchase.pk %}" class="btn btn-secondary mt-2">
                            <i class="bi bi-filetype-xls"></i> Экспорт в excel
                        </a>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2 text-xs font-weight-bold">
                    Всего: <span class="ms-2 badge bg-gradient-secondary">{{ total }}</span>
                    {% for item in summary %}
                        {{ statuses|index:item.status }}:<span class="ms-2 badge bg-gradient-info">{{ item.total }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-1">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                                <th scope="col">#</th>
                                <th scope="col">Скрин</th>
                                <th scope="col">
                                    Наименование
                                    <a href="?sort=title{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-title{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">
                                    Цена заказа
                                    <a href="?sort=order_price{% if search_query %}&query={{ search_query }}{% endif %}" class="ms-1 text-decoration-none"><i class="bi bi-sort-alpha-down"></i></a>
                                    <a href="?sort=-order_price{% if search_query %}&query={{ search_query }}{% endif %}" class="text-decoration-none"><i class="bi bi-sort-alpha-up"></i></a>
                                </th>
                                <th scope="col">Трэк #</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                                <tr>
                                    <th scope="row">
                                        <p class="text-xs text-secondary mb-0 text-center">{{ forloop.counter }}</p>
                                    </th>
                                    <td class="text-center">
                                        <img
                                            src="/media/{{item.img}}"
                                            alt=""
                                            style="width: 48px"
                                            data-bs-toggle="offcanvas"
                                            href="#img-{{ item.id }}"
                                            role="button"
                                            aria-controls="show"
                                        />
                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="img-{{ item.id }}" aria-labelledby="img-{{ item.id }}Label">
                                            <div class="offcanvas-header">
                                                <h4 class="text-start text-primary" id="img-{{ item.id }}Label">{{ item.title }}</h4>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <img
                                                    src="/media/{{item.img}}"
                                                    alt=""
                                                    style="width: 100%"
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xl font-weight-bold mb-1">
                                                    <a class="link-primary" href="{% url 'order' pk=item.pk %}">
                                                        {{ item.title }}
                                                    </a>
                                                </p>
                                                <p class="text-xs mb-2">
                                                    <a href="{{ item.url }}" target="_blank">Ссылка</a>
                                                </p>
                                                <p class="text-xs mb-0">
                                                    <span class="badge bg-gradient-primary">{{ item.get_status }}</span>
                                                    <span class="badge badge-sm bg-gradient-secondary">{{ item.marketplace }}</span>
                                                </p>
                                                <div class="d-flex align-items-center mt-2">
                                                    <span class="me-2 text-xs font-weight-bold">{{item.status|add:1|multiply:20}}%</span>
                                                    <div class="progress">
                                                      <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{item.status}}" aria-valuemin="0" aria-valuemax="5" style="width: {{item.status|add:1|multiply:20}}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap align-middle text-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="text-xl font-weight-bold mb-1 text-gradient">
                                                {{ item.order_price }} ¥
                                            </p>
                                            <p class="text-xs mb-2">
                                                <span class="badge bg-gradient-secondary">{{ purchase.exchange }}</span>
                                            </p>
                                            <p class="text-xs text-danger text-gradient font-weight-bold mb-0">
                                                {{ item.calculate_order_exchange_price }} ₽
                                            </p>
                                        </div>
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        {% if item.track_num %}
                                            <span class="badge bg-gradient-info"><a class="link-light" href="https://www.ordertracker.com/ru/track/{{ item.track_num }}" target="_blank">{{ item.track_num }}</a></span>
                                        {% else %}
                                            Нет
                                        {%endif%}
                                    </td>
                                    <td class="text-xs align-middle text-center">
                                        <div class="d-flex flex-column align-items-center">
                                            <div>
                                                <a class="link-secondary" href="{% url 'order_edit' pk=item.pk %}" class="me-1">
                                                    <i class="bi bi-pencil-square me-1"></i>Изменить
                                                </a>
                                                <a class="link-danger" data-bs-toggle="offcanvas" href="#{{ item.id }}" role="button" aria-controls="delete">
                                                    <i class="bi bi-trash me-1"></i>Удалить
                                                </a>
                                                <div class="offcanvas offcanvas-start" tabindex="-1" id="{{ item.id }}" aria-labelledby="{{ item.id }}Label">
                                                    <div class="offcanvas-header">
                                                        <h5 class="offcanvas-title" id="{{ item.id }}Label">{{ item.title }}</h5>
                                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                    </div>
                                                    <div class="offcanvas-body text-start">
                                                        <div>
                                                            Это действие безвозвратно удалит объект из базы данных!
                                                        </div>
                                                        <div class="mt-3">
                                                            <a href="{% url 'order_delete' pk=item.pk %}" class="btn btn-danger me-1">Подтвердить</a>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Отменить</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if not item.buy_price %}
                                                    <p>
                                                        <a href="{% url 'order-buy' pk=item.pk %}" class="btn btn-sm btn-primary mt-2">
                                                            <i class="bi bi-bag me-1"></i> Выкупить товар
                                                        </a>
                                                    </p>
                                                {% endif %}

                                                {% if item.buy_price and not item.track_num %}
                                                    <p>
                                                        <a href="{% url 'order-set-track' pk=item.pk %}" class="btn btn-sm btn-dark mt-2">
                                                            <i class="bi bi-truck me-1"></i> Добавить трэк
                                                        </a>
                                                    </p>
                                                {% else %}
                                                    {% if item.status == 2 %}
                                                        <form method="post" action="{% url 'order-set-delivered' pk=item.pk %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-secondary mt-2">
                                                                <i class="bi bi-truck me-1"></i>
                                                                Доставлен в ТК
                                                            </button>
                                                        </form>
                                                    {% elif item.status == 3 %}
                                                        <form method="post" action="{% url 'order-set-arrived' pk=item.pk %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm btn-success mt-2">
                                                                <i class="bi bi-bookmark-check"></i> Прибыл
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                {% include "common/tables/empty.html" with colspan=6 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xl-3 col-12 mt-lg-0 mt-xl-0 mt-2">
        {% include 'common/customer-profile.html' %}

        <div class="mt-3">
            {% include "common/chart.html" with title="Статусы заказов" chart_id="chart-statuses" height="300" %}
        </div>

        <div class="mt-3">
            {% include "common/chart.html" with title="Стоимость заказов" chart_id="chart-customer" height="300" %}
        </div>

    </div>
</div>

<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script>
    let ctx1 = document.getElementById("chart-statuses").getContext("2d");
    let ctx2 = document.getElementById("chart-customer").getContext("2d");

    new Chart(ctx1, {
        type: "doughnut",
        data: {
            labels: {{ status_chart_labels|safe }},
            datasets: [
                {
                    label: "Статус",
                    data: {{ status_chart_values|safe }},
                    maxBarThickness: 6
                }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                display: true,
                }
            },
            interaction: {
                intersect: true,
                mode: 'index',
            },
        },
    });

    new Chart(ctx2, {
        type: "pie",
        data: {
            labels: ["Остальной заказ", "Закупка клиента"],
            datasets: [
                {
                    label: "Стоимость",
                    data: [{{ purchase_price|safe }}, {{ customer_purchase_price|safe }}],
                    maxBarThickness: 6,
                },
            ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: true,
            }
        },
        interaction: {
            intersect: true,
            mode: 'index',
        },
        },
    });
</script>

{% endblock %}
